@{
    ViewData["Title"] = "Access Denied";
}

<div class="alert alert-danger mt-4">
    <h4 class="alert-heading">Access Denied</h4>
    <p>You do not have the required permission to perform this action.</p>
    <hr />
    <p class="mb-0">Please contact your administrator if you believe this is an error.</p>
</div>

<a href="javascript:history.back()" class="btn btn-secondary">Go Back</a>
